@import './settings';

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.3rem;
}

img {
  width: 100%;
}

ul, li {
  list-style-type: none;
}

.trello-barox-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 40px 1fr;
  background: $app-bg-color;
}